@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
}

.curStepCard {
  background-image: url("./public/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: 42rem;
  height: 98vh;
  width: 42rem;
  padding: 5rem 3rem;
  margin-right: 10rem;
}
.curStepCard__step {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
}
.curStepCard__step--number {
  transition: all 0.5s;
  border: 0.2rem solid;
  border-radius: 100%;
  margin-right: 2rem;
  font-size: 1.2rem;
  padding: 1rem 1.8rem;
}
.curStepCard__step--action {
  font-size: 1.8rem;
}
.curStepCard__step--action-step {
  font-size: 1.5rem;
  display: block;
  font-weight: 500;
  color: hsl(228, 100%, 84%);
  letter-spacing: 0.1rem;
}

.curStepCard .active {
  background-color: hsl(206, 94%, 87%);
  border: 0.2 solid;
  border-color: hsl(206, 94%, 87%);
}

form {
  margin: 1rem 0 1rem 1.5rem;
  display: flex;
}

.formInfo {
  width: 120rem;
  display: flex;
  flex-wrap: wrap;
}

.personalInfo {
  margin-top: 5.5rem;
}
.personalInfo__heading {
  margin-bottom: 3rem;
}
.personalInfo h1 {
  font-size: 3.6rem;
  color: #033a7d;
}
.personalInfo h2 {
  color: hsl(231, 11%, 63%);
  font-weight: 400;
}
.personalInfo__form--inputBox label {
  font-size: 1.3rem;
  display: block;
  color: #033a7d;
  margin-bottom: 0.5rem;
}
.personalInfo__form--inputBox input {
  width: 120rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: 0.1rem solid hsl(231, 11%, 63%);
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}

.selectPlan {
  margin-top: 5.5rem;
  width: 120rem;
  /* Hide default HTML checkbox */
  /* The slider */
}
.selectPlan__heading {
  margin-bottom: 6rem;
}
.selectPlan__heading h1 {
  font-size: 3.6rem;
  color: #033a7d;
}
.selectPlan__heading h2 {
  color: hsl(231, 11%, 63%);
  font-weight: 400;
}
.selectPlan__billing {
  display: flex;
}
.selectPlan__billing .selected {
  background-color: hsla(228, 100%, 84%, 0.144);
  border: 0.1rem solid hsl(243, 100%, 62%);
}
.selectPlan__billing--card {
  padding: 2rem;
  width: 20rem;
  height: 22.5rem;
  border: 0.1rem solid hsl(231, 11%, 63%);
  border-radius: 1rem;
  margin-right: 4rem;
  cursor: pointer;
}
.selectPlan__billing--card:hover {
  border: 0.1rem solid hsl(243, 100%, 62%);
}
.selectPlan__billing--card h3 {
  font-size: 2.5rem;
}
.selectPlan__billing--card h4 {
  margin-top: 0.5rem;
  font-size: 1.9rem;
  font-weight: 400;
  color: hsl(231, 11%, 63%);
}
.selectPlan__billing--card img {
  margin: 0 0 6rem 0;
}
.selectPlan__frequency {
  display: flex;
  margin-top: 5rem;
  background-color: hsl(231, 100%, 99%);
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  justify-content: center;
}
.selectPlan__frequency h3 {
  font-size: 2rem;
  font-weight: 500;
}
.selectPlan__frequency .active {
  color: #03418c;
}
.selectPlan .switch {
  margin: 0 2rem 0 2rem;
  position: relative;
  display: inline-block;
  width: 5.8rem;
  height: 3rem;
}
.selectPlan .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.selectPlan .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  transition: 0.4s;
  border-radius: 19rem;
}
.selectPlan .slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.4rem;
  bottom: 0.5rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 10rem;
}
.selectPlan input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.selectPlan input:checked + .slider:before {
  transform: translateX(26px);
}

.addOns {
  margin-top: 5.5rem;
  width: 120rem;
}
.addOns__heading {
  margin-bottom: 3rem;
}
.addOns h1 {
  font-size: 3.6rem;
  color: #033a7d;
}
.addOns h2 {
  color: hsl(231, 11%, 63%);
  font-weight: 400;
}
.addOns_services--addOn {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  border: 0.1rem solid hsl(243, 100%, 62%);
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.addOns_services--addOn h3 {
  font-size: 1.6rem;
  color: hsl(213, 96%, 18%);
}
.addOns_services--addOn p {
  color: hsl(231, 11%, 63%);
  font-size: 1.2rem;
}
.addOns_services--addOn input {
  margin-right: 2rem;
  accent-color: hsl(213, 96%, 18%);
  width: 1.8rem;
  height: 1.8rem;
}
.addOns_services--addOn h4 {
  margin-left: auto;
  color: hsl(231, 11%, 63%);
  font-weight: 700;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.addOns_services--addOn.selected {
  background-color: rgba(173, 190, 255, 0.1);
}

.summary {
  margin-top: 5.5rem;
  width: 120rem;
}
.summary__heading {
  margin-bottom: 3rem;
}
.summary h1 {
  font-size: 3.6rem;
  color: #033a7d;
}
.summary h2 {
  color: hsl(231, 11%, 63%);
  font-weight: 400;
}
.summary__info--plan-package {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  background-color: rgba(191, 226, 253, 0.2);
}
.summary__info--plan-package h3 {
  font-size: 1.8rem;
  font-weight: 500;
}
.summary__info--plan-package p {
  font-size: 1.2rem;
  font-weight: 400;
  color: hsl(231, 11%, 63%);
  cursor: pointer;
}
.summary__info--plan-package p:hover {
  color: hsl(243, 100%, 62%);
  text-decoration: underline;
}
.summary__info--plan h4 {
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}
.summary__info--addOn {
  padding: 0 1.5rem 1.5rem 1.5rem;
  background-color: rgba(191, 226, 253, 0.2);
}
.summary__info--addOn::before {
  content: "";
  width: 117rem;
  background-color: rgba(150, 153, 171, 0.4);
  height: 0.1rem;
  display: block;
  margin: 0 auto 1rem auto;
}
.summary__info--addOn-item {
  display: flex;
  margin-bottom: 0.75rem;
}
.summary__info--addOn-item h4 {
  font-size: 1.2rem;
  font-weight: 400;
}
.summary__info--addOn-item p {
  font-size: 1.5rem;
  color: hsl(231, 11%, 63%);
}
.summary__info--total {
  display: flex;
  margin-top: 3rem;
  padding: 0 1.5rem 0 1.5rem;
}
.summary__info--total p {
  color: hsl(231, 11%, 63%);
  font-size: 1.5rem;
}
.summary__info--total h3 {
  margin-left: auto;
  font-size: 1.8rem;
  color: hsl(243, 100%, 62%);
}

.submitted {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 120rem;
}
.submitted__container img {
  margin: auto;
}
.submitted__container h1 {
  font-size: 3.2rem;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
}
.submitted__container p {
  margin-top: 2rem;
  color: hsl(231, 11%, 63%);
  font-size: 1.8rem;
  max-width: 80rem;
}

.buttonField {
  display: flex;
  flex-basis: 100%;
  align-self: flex-end;
}
.buttonField button {
  border: none;
  padding: 1.75rem 3.5rem;
  border-radius: 1rem;
  font-size: 1.75rem;
  font-weight: 500;
  cursor: pointer;
}

.btn__forward {
  color: white;
  background-color: hsl(213, 96%, 18%);
  margin-left: auto;
}

.btn__submit {
  color: white;
  background-color: hsl(213, 96%, 18%);
  margin-left: auto;
}

.btn__back {
  color: hsl(231, 11%, 63%);
  background-color: transparent;
}
.btn__back:hover {
  color: hsl(243, 100%, 62%);
}/*# sourceMappingURL=main.css.map */