@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin mobileCardStyling {
  @include mobile {
    width: 41rem;
    margin: 0 4rem 0 2rem;
    padding: 3rem 2rem 2rem 2rem;
    background-color: white;
    position: absolute;
    top: -12.5rem;
    border-radius: 1rem;
    box-shadow: 2px 12px 20px -6px rgba(0, 0, 0, 0.14);
  }
}

@mixin mobileHeadingStyling {
  h1 {
    @include mobile {
      font-size: 2.6rem;
    }
  }
  h2 {
    @include mobile {
      font-size: 2rem;
    }
  }
}
