@use '../abstracts' as *;

.curStepCard {
  background-image: url('./public/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-size: 42rem;
  height: 98vh;
  width: 42rem;
  padding: 5rem 3rem;
  margin-right: 10rem;

  @include mobile {
    background-image: url('./images/bg-sidebar-mobile.svg');
    display: flex;
    width: 48rem;
    height: 25rem;
    margin: 0;
    background-size: 48rem;
    justify-content: space-around;
  }
  &__container {
    @include mobile {
      display: flex;
      margin-bottom: 7rem;
    }
  }
  &__step {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
    &--number {
      transition: all 0.5s;
      border: 0.2rem solid;
      border-radius: 100%;
      margin-right: 2rem;
      font-size: 1.2rem;
      padding: 1rem 1.8rem;

      @include mobile {
        padding: 0.75rem 1.55rem;
        margin-right: 2rem;
      }
    }
    &--action {
      font-size: 1.8rem;
      @include mobile {
        display: none;
      }
      &-step {
        font-size: 1.5rem;
        display: block;
        font-weight: 500;
        color: $pastel-blue;
        letter-spacing: 0.1rem;
      }
    }
  }
}

.curStepCard .active {
  background-color: $light-blue;
  border: 0.2 solid;
  border-color: $light-blue;
  color: $marine-blue;
}

form {
  margin: 1rem 0 1rem 1.5rem;
  display: flex;

  @include mobile {
    display: block;
    margin: 0;
  }
}

.formInfo {
  width: 120rem;
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    width: 48rem;
  }
}
