@use '../abstracts/' as *;
.submitted {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 120rem;

  &__container {
    img {
      margin: auto;
    }
    h1 {
      font-size: 3.2rem;
      margin: 2rem auto 0 auto;
      display: flex;
      justify-content: center;
    }
    p {
      margin-top: 2rem;
      color: $cool-gray;
      font-size: 1.8rem;
      max-width: 80rem;
    }
  }
}
